<!DOCTYPE html>
<html>
<head>
  <title>{{ id }} - Pizza as a Service</title>
  <meta charset="utf-8">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body style="margin-top:40px;">
  <div class="container">
    <div id="view-10">
      <div class="hero-unit">
        <h3>{{ item }}</h3>
      </div>
    </div>
    <p style="text-align: center"><a href="http://pizzaasaservice.com">pizzaasaservice.com</a> - <a href="https://github.com/omnibrian/pizza-as-a-service">GitHub</a></p>
  </div>
</body>
</html>
