<!DOCTYPE html>
<html>
<head>
  <title>pizzaasaservice</title>
  <meta charset="utf-8">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body style="margin-top:40px;">
  <div class="container">
    <div id="view-10">
      <div class="hero-unit">
        <h1>Pizza</h1>
        <br />
        <ul>
        {% for item in items %}
          <li><a href="{{ item.url }}">{{ item.id }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <p style="text-align: center"><a href="http://pizzaasaservice.com">pizzaasaservice.com</a></p>
  </div>
</body>
</html>
